.container {
    min-width: 100%;
    min-height: 100%;
}

.port-ext {
    padding: 15px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.28);
}

.port-int {
    display: inline-flex;
}

.foto,
.inicio {
    padding: 15px;
    color: white;
}

body {
    background: url("./master.jpeg");
    overflow-x: hidden!important;
}

h3 img {
    max-width: 80%;
    border-width: 1px;
    border-style: solid;
}

.start1 {
    transform: scale(1.7);
}

.start {
    max-width: 540px;
    background: ;
    font-family: monospace;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile1 {
    height: 105px;
    border-radius: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

#container {
    border-color: rgba(0, 0, 0, 0.62);
    align-items: center;
    display: flex;
    border-style: solid;
    border-width: 5px;
    background: rgba(0, 0, 0, 0.42);
}

#container .row1 {
    width: 50%;
    color: white;
    font-size: 12px;
    display: block!important;
}

#container .row2 {
    font-size: 18px;
    background: rgb(255, 254, 254);
    height: 270px;
    padding-left: 60px;
    display: -webkit-inline-box;
    width: 270px;
    text-align: initial;
}

#container .icones {
    margin-left: 20px;
    margin-top: 55px;
    display: table-caption;
    line-height: 27px;
}

#container .text {
    margin-top: 55px;
    margin-left: 45px;
    line-height: 27px;
    font-size: 15px;
}

#container .ini {
    display: contents;
}

#container .row3 {
    margin-left: -60px;
    padding: 5px;
}

#container h2 {
    font-size: 10px;
    padding: 5px;
    background: #00000066;
    color: white;
    border-radius: 10px;
    margin-top: -2px;
    margin-left: 4px;
}

#container h3 {
    font-size: 14px;
}

#container .row99 {
    display: flex;
}

#container i.fas.fa-user-circle {
    font-size: 24px;
    z-index: 99;
}

#container #op {
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    #container {
        display: inline-block;
    }
    #container .row1 {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    #container .row2 {
        padding-left: 60px;
    }
    .start {
        width: 280px;
        margin-bottom: 260px;
        margin-top: -200px;
    }
}

.row3,
.row {
    overflow: auto;
}

@media screen and (min-width: 358px) and (max-width: 400px) {
    #main {
        transform: scale(0.9);
    }
}

@media screen and (min-width: 315px) and (max-width: 357px) {
    #main {
        transform: scale(0.8);
    }
}

@media screen and (min-width: 280px) and (max-width: 314px) {
    #main {
        transform: scale(0.7);
        margin-left: -5px;
    }
}

@media screen and (min-width: 250px) and (max-width: 279px) {
    #main {
        transform: scale(0.6);
        margin-left: -18px;
    }
}

@media screen and (min-width: 200px) and (max-width: 249px) {
    #main {
        transform: scale(0.5);
        margin-left: -40px;
    }
}

t {
    font-family: serif;
}

c {
    font-family: inherit;
    font-size: smaller;
}

g {
    float: right;
}

@media screen and (min-width: 200px) and (max-width: 450px) {
    .start {
        margin-left: 10px;
    }
}

@media screen and (min-width: 200px) and (max-width: 380px) {
    .start {
        margin-left: 20px;
    }
}

@media screen and (min-width: 200px) and (max-width: 370px) {
    .start {
        margin-left: 25px;
    }
}